@import "prototype1.css";
@import "prototype5.css";
@import "prototype6.css";

body {
    background: whitesmoke;
    color: rgb(0, 0, 0);
    font-family: Arial;
    font-size: 14px;
    margin: 0;
    height: 100%;
    width: 100%;
}

/* Table */

table {
    text-align: center;
    width: 100%;
    border-collapse: collapse;
    border-width: 1px;
    border-style: solid;
    border-color: #050505;
    font-size: 14px;
}

.tableTemplate {
    max-height: 300px;
    overflow: auto;
}

.filterTemplate {
    max-height: 500px;
    overflow: auto;
}

tr {
    height: 30px;
}

td, th {
    border-width: 1px;
    padding: 3px;
    border-color: #050505;
    border-style: solid;
}

thead {
    background-color: #364a94;
    color: white;
}

tr:nth-child(even) {
    background: #e8e3f1ed;
}

/* Badge */

.badge {
    height: 80%;
    width: 80%;
}

/* Progress bar */

.progressFrame {
    border-style: inset;
}

.progressBar {
    height: 18px;
    background-color: #364a94;
    text-align: center; /* To center it horizontally (if you want) */
    line-height: 18px; /* To center it vertically */
    color: white;
}

.progressTable {
    border: none;
}

.progressTable td {
    border: none;
}

/* Bar chart */

.barChart {
    display: block;
    padding: 10px;
    height: 300px;
    max-height: 300px;
    min-height: 300px;
}

/* Tabs */

.tabHeaders {
    overflow: hidden;
}

.tabHeader {
    background-color: inherit;
    float: left;
    outline: none;
    cursor: pointer;
    padding: 10px 15px;
    background-color: #e8e3f1ed;
    border: 1px solid #ccc;
    border-bottom: none;
}

.tabHeader:hover {
    background-color: #ccc;
}

.tabHeader.active {
    background-color: #364a94;
    color: white;
}

.tabContent {
    height: 400px;
    padding: 10px 10px;
    border: 1px solid #ccc;
    overflow: auto;
}

.tabElement {
    display: none;
}

.demo {
    height: 450px;
    width: 700px;
}

/* Filters */

.filter {
    text-align: left;
    border-collapse: collapse;
}

.filter tr:nth-child(even) {
    background: whitesmoke;
}

.filter td {
    border: none;
}

.filter tr {
    height: 20px;
}

.filter thead {
    height: 30px;
}

.filterLabel {
    margin-left: 10px;
}

.filterValue {
    margin-left: 30px;
}

/* Web container */

.web-container {
    margin: 0 auto;
    position: relative;
    width: 1331px;
    height: 762px;
    align-content: center;
    align-items: center;
    background: url('backgrounds/web.png') no-repeat;
}

.web-sub-container {
    position: absolute;
    top: 60px;
    right: 1px;
    width: 1328px;
    height: 650px;
    margin-left: 125px;
    margin-top: 50px;
    align-content: center;
    align-items: center;
    overflow: auto;
}

/* Mobile container */

.mobile-container {
    padding-top: 5px;
    height: 1024px;
    align-content: left;
    align-items: left;
    background: url('backgrounds/mobileimage.jpg') no-repeat;
}

.mobile-sub-container {
    margin-left: 225px;
    margin-top: 80px;
    height: 620px;
    width: 350px;
    overflow: auto;
}

/* IDE container */

.ide-container {
    margin: 0 auto;
    width: 1450px;
    height: 600px;
    align-content: center;
    align-items: center;
    background-image: url("backgrounds/ide_layout.png");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
}

.ide-sub-container {
    position: absolute;
    margin-top: 27px;
    width: 1445px;
    height: 570px;
    overflow: auto;
}

/* Chat */

.chat-container {
    background-color: white;
    padding: 10px 0px;
}

.chat-container input {
    width: 75%;
}

.chat-container textarea {
    padding: 10px;
    resize: none;
    height: 30px;
    width: 80%;
    margin: 5px;
}

.chat-container .send {
    background-color: #4CAF50;
    color: white;
    padding: 10px;
    border: none;
    cursor: pointer;
    width: 90%;
}

.discussion {
    padding: 5px 10px;
    text-align: left;
}

.missingFormData {
    border: red 2px solid;
}

/* Code editor */

.editorContainer{
    max-height:500px;
    overflow: auto;
    border: 1px solid black;
    position: relative;
}

.codeEditor {
    border: 1px solid black;
    text-align: left;
    padding: none;
    font-family:Consolas,Monaco,Lucida Console,Liberation Mono,DejaVu Sans Mono,Bitstream Vera Sans Mono,Courier New;
}

.codeEditor pre{
    font-size: 14px;
    padding: 0;
    margin: 0;
    font-family:Consolas,Monaco,Lucida Console,Liberation Mono,DejaVu Sans Mono,Bitstream Vera Sans Mono,Courier New;
}

.codeEditor tr {
    background: white;
    height: 23px;
}

.codeEditor td {
    border-top: none;
    border-bottom: none;
}

.warningCell {
    text-align: right;
    background-color: #DCDCDC;
    color: #696969;
}

.lineNumberCell {
    background-color: #DCDCDC;
    color: #696969;
}

.codeEditor .warningIcon {
    width: 17px;
    height: 17px;
    display: inline-block;
    background-size: 100%;
    background-repeat: no-repeat;
    cursor:pointer;
    margin-left: -2px;
    padding: 0;
}

.codeEditor .warning {
    background-image: url("icons/warning.png");
}

.codeEditor .info {
    background-image: url("icons/info.png");
}

.codeEditor .error {
    background-image: url("icons/error.png");
}

.codeEditorWarningInfo {
    min-width: 300px;
    max-width: 800px;
    max-height: 300px;
    border: gray solid 1px;
    border-radius: 5px;
    background-color: #eeeeee;
    display: none;
    padding: 10px;
    position: absolute;
}

.close {
    width: 17px;
    height: 17px;
    float: right;
    display: inline-block;
    background-size: 100%;
    background-repeat: no-repeat;
    cursor:pointer;
    padding: 0;
    background-image: url("icons/close.png");
}
