body {
  background: whitesmoke;
  color: rgb(0, 0, 0);
  font-family: Arial;
  font-size: 14px;
  margin: 0;
  height: 100%;
  width: 100%;
}

.container {
  margin: 0 auto;
  width: 1200px;
  height: 550px;
  align-content: center;
  align-items: center;
}

.heading {
	width: 1200px;
}
.subcontainer{
  width: 100%;
  text-align: center;
}

.section1 {
  margin:0 auto;
  float:left;
  width:200px;
  height:550px;
  
}

.section2 {
  display: inline-block;
  margin:0 auto;
  width:744px;
  height:550px;

}

.section3 {
  width: 250px;
  height:550px;
  float: right;

}

.badge{
  height: 30%;
  width: 100%;
  position: relative;
}

.badge{
  height: 80%;
  width: 80%;
}

table {
  text-align:center; 
  width:100%;
  border-collapse:collapse;
  border-width:1px;
  border-style:solid;
  border-color:#050505;
  font-size: 14px;
}

tr{
  height: 30px;
}

td, th {
  border-width:1px;
  padding:3px;
  border-color:#050505;
  border-style: solid;
}

thead {
  background-color: #364a94;
  color: white;
}

tr:nth-child(even) {
  background: #e8e3f1ed;
}

.progressFrame{
  border-style: inset;
}

.progressBar {
  height: 18px;
  background-color: #364a94;
  text-align: center; /* To center it horizontally (if you want) */
  line-height: 18px; /* To center it vertically */
  color: white; 
}

.progressTable {
    border: none;
}

.progressTable td {
    border: none;
}

#myChart{
  display: block;
  padding-top:20px;

}

#tabComponents{
  padding-top: 20px;
  height: 320px;
}

/* Style the tab */
.tab {
  background-color: #e8e3f1ed;
}

/* Style the buttons that are used to open the tab content */
.tab button {
  background-color: inherit;
  float: left;
  border: none;
  outline: none;
  cursor: pointer;
  padding: 8px 57px;
  transition: 0.3s;
}

/* Change background color of buttons on hover */
.tab button:hover {
  background-color: #364a94;
  color:white;
}

/* Create an active/current tablink class */
.tab button.active {
  background-color: #ccc;
}

/* Style the tab content */
.tabcontent {
  display: none;
  padding: 6px 12px;
  border: 1px solid #ccc;
  border-top: none;
}
