body {
    background: whitesmoke;
    color: rgb(0, 0, 0);
    font-family: Arial;
    font-size: 14px;
    margin: 0;
    height: 100%;
    width: 100%;
}

.container {
    margin: 0 auto;
    width: 1310px;
    height: 600px;
    align-content: center;
    align-items: center;
}

.layoutcontainer {
    position: absolute;
    top: 20px;
    width: 1301px;
    height: 551px;
    align-content: center;
    align-items: center;
    background-image: url("ide_layout.png");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
}

.heading {
    width: 1200px;
}

.subcontainer {
    width: 100%;
    text-align: center;
}

.section1 {
    margin: 0 auto;
    float: left;
    width: 200px;
    height: 550px;
}

.section2 {
    display: inline-block;
    margin: 0 auto;
    width: 744px;
    height: 550px;

}

.section3 {
    width: 250px;
    height: 550px;
    float: right;

}

/* Table */

table {
    text-align: center;
    width: 100%;
    border-collapse: collapse;
    border-width: 1px;
    border-style: solid;
    border-color: #050505;
    font-size: 14px;
}

.tableTemplate {
    max-height: 300px;
    overflow: auto;
}

tr {
    height: 30px;
}

td, th {
    border-width: 1px;
    padding: 3px;
    border-color: #050505;
    border-style: solid;
}

thead {
    background-color: #364a94;
    color: white;
}

tr:nth-child(even) {
    background: #e8e3f1ed;
}

/* Badge */

.badge {
    height: 80%;
    width: 80%;
}

/* Progress bar */

.progressFrame {
    border-style: inset;
}

.progressBar {
    height: 18px;
    background-color: #364a94;
    text-align: center; /* To center it horizontally (if you want) */
    line-height: 18px; /* To center it vertically */
    color: white;
}

.progressTable {
    border: none;
}

.progressTable td {
    border: none;
}

/* Bar chart */

.barChart {
    display: block;
    padding: 10px;
    height: 300px;
    max-height: 300px;
}

/* Tabs */

.tabHeaders {
    overflow: hidden;
}

.tabHeader {
    background-color: inherit;
    float: left;
    outline: none;
    cursor: pointer;
    padding: 10px 15px;
    background-color: #e8e3f1ed;
    border: 1px solid #ccc;
    border-bottom: none;
}

.tabHeader:hover {
    background-color: #ccc;
}

.tabHeader.active {
    background-color: #364a94;
    color: white;
}

.tabContent {
    height: 320px;
    padding: 10px 10px;
    border: 1px solid #ccc;
    overflow: auto;
}

.tabElement {
    display: none;
}

.demo {
    height: 500px;
    width: 900px;
}

/* Filters */

.filter {
    text-align: left;
    border-collapse: collapse;
}

.filter tr:nth-child(even) {
    background: whitesmoke;
}

.filter td {
    border: none;
}

.filter tr {
    height: 20px;
}

.filter thead {
    height: 30px;
}

.filterLabel {
    margin-left: 10px;
}

.filterValue {
    margin-left: 30px;
}