.section1 {
    margin: 2px auto;
    float: left;
    width: 200px;
    height: 550px;
}

.section2 {
    margin: 2px auto;
    width: 744px;
    height: 750px;

}

.section3 {
    width: 250px;
    height: 700px;
    position: absolute;
    top: 2px;
    right: 16px;
}

.imgcontainer {
    position: absolute;
    right: 820px;
    top: 100px;
    height: 120px;
    width: 120px;
    margin: 24px 0 12px 0;
  }

  .logo {
      position: absolute;
      right: 900px;
      top: 85px;
      height: 80px;
      width: 80px;
      margin: 24px 0 12px 0;
    }

  .imgAvatar {
    position: absolute;
    right: 660px;
    top: 0px;
    text-align: left;
    height: 80px;
    width: 80px;
  }

  .loginheader {
    text-align: right;
    padding: 16px;
    width: 50%;
    position: absolute;
    right: 430px;
    top: 100px;
  }

  .loginbutton {
    background-color: #4CAF50;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    cursor: pointer;
    width: 90px;
  }

  input[type=text], input[type=password] {
    width: 200px;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    box-sizing: border-box;
  }

  .loginBlock{
      position: absolute;
      right: 370px;
      top: 350px;
  }

  .mainTab {
    height: 450px;
    width: 760px;
    padding: 10px 10px;
    border: 1px solid #ccc;
    overflow: unset;
}

.table {
    height: 400px;
    width: 470px;
    padding: 10px 10px;
    float: left;
}

.filter {
    height: 200px;
    width: 200px;
    padding: 10px 10px;
    float: right;
}

.achievement{
    position: absolute;
    right: 850px;
    top: 300px;
    height: 80px;
    width: 80px;
    padding: 10px 10px;
    display: flex;
    flex-direction: row;
}

.progress{
    position: absolute;
    right: 500px;
    top: 180px;
    width: 300px;
}

mark.red {
    color:#ff0000;
    background: none;
}

mark.blue {
    color:#0000A0;
    background: none;
}

mark.green {
    color:rgb(255, 4, 192);
    background: none;
}

.progressHighlights{
    width: 300px;
}
