.probutton {
    background-color: #4CAF50 !important; /* Green */
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
  }
  .button2 {background-color: rgb(37, 186, 0);}
  .chat {
    text-align: left;
    width: 370px;
    border-collapse: collapse;
    border-width: 1px;
    border-style: solid;
    border-color: #050505;
    font-size: 14px;
}